&.page {
    .vision-row {
        max-width: 1200px;
        padding-top: 0;
        padding-bottom: 30px;

        .entry-header {
            .entry-title {
                font-family: 'Pt sans';
                font-size: 30px;
            }
        }
    }
}
