.wpcf7-form{
    margin-bottom: 30px;
    max-width: 600px;
    .contact-form-field{
        margin-bottom: 10px;
        label{
            // font-weight: bold;
        }
        input{
            &[type="text"],
            &[type="email"],
            &[type="number"],
            &[type="date"]{
                border-width: 1px;
                border-color: lighten($black, 50%);
                width: 70%!important;
                display:block;
                border-radius: 4px;

                &.wpcf7-not-valid{
                    border-color: #f00;
                }
            }
        }
        textarea{
            border-width: 1px;
            border-color: lighten($black, 50%);
            width: 70%!important;
            border-radius: 4px;
            &.wpcf7-not-valid{
                border-color: #f00;
            }
        }

        .wpcf7-radio{
            display:block;
            margin: 5px 0;
        }

        .wpcf7-acceptance,
        .wpcf7-checkbox{
            .wpcf7-list-item{
                margin: 5px 0;
            }
        }

        &.option-for-line{
            .wpcf7-list-item{
                display: block;
            }
        }
    }
    p{
        margin:0;
    }

    div.wpcf7-response-output{
        margin: 10px 0 0;
        padding: 10px 10px;
    }

    .button-submit{
        input[type="submit"]{
            margin-left: 0;
            margin-bottom:0;
            border-radius: 5px;

            text-shadow:none;
            height: auto;
            font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
            background: $white!important;
            border: 3px solid $cohabitatge;
            color: $cohabitatge;
            line-height: normal;
            // text-transform: none;
            letter-spacing: initial;
            padding: 5px 10px;
            font-weight: 700;
            font-size: 16px;

            &:disabled{
                pointer-events: none;
                opacity: .5;
            }

            &:hover{
                color: $white;
            }
        }

    }


}
#main-wrapper.webtype_social div#content .wpcf7-form .button-submit input[type="submit"].button{
    border-color: $social;
    color: $social;
    &:hover{
        background: $social!important;
        color: $white;
    }
}

#main-wrapper.webtype_natura div#content .wpcf7-form .button-submit input[type="submit"]{
    border-color: $natura;
    color: $natura;
    &:hover{
        color: $white;
    }
}
