@media screen and (min-width: 960px){
    .site {
        padding: 0!important;
    }
}
.site-content {
    padding: 0 10px;
}
div#content {
    .entry-header {
        h1 {
            margin-top: 40px;
            border-bottom: 3px solid $black;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
    a {
        &:hover{
            text-decoration: underline;
        }
    }
    .wp-block-columns.has-2-columns{
        &.divide-2-1{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 2;
                        padding-right: 30px;
                    }
                    &:last-child{
                        flex: 1;
                    }
                }
            }
        }
    }
    .wp-block-column{
        h2{
            margin-top:0;
        }
    }

    p{
        &.box,
        &.box-transparent{
            padding: 30px 20px;
        }

        &.box{
            background: lighten($black, 80%);
            &.color2{
                background: lighten($black, 70%);
            }
            a{
                color: $black;
                text-decoration: underline;
            }
        }
        &.box-transparent{
            font-size: 1.15em;
            border: 3px solid lighten($black, 80%);
        }
    }

    .edit-link{
        display:none;
    }
}

#main-wrapper{
    &.webtype_cohabitatge div#content {
        .entry-header  h1 {
            color: $cohabitatge;
            border-color: $cohabitatge2;
        }
        a, h2 {
            color: $cohabitatge;
        }
        p{
            &.box{
                background: lighten($cohabitatge, 35%);
                &.color2{
                    background: lighten($cohabitatge, 25%);
                }
            }
            &.box-transparent{
                border-color: $cohabitatge2;
            }
        }
    }
    &.webtype_social div#content {
        .entry-header  h1 {
            color: $social;
            border-color: $social;
        }
        a {
            color: $social;
        }
        p{
            &.box{
                background: lighten($social, 40%);
                &.color2{
                    background: lighten($social, 35%);
                }
            }
            &.box-transparent{
                border-color: $social2;
            }
        }
    }
    &.webtype_natura div#content {
        .entry-header  h1 {
            color: $natura;
            border-color: $natura;
        }
        a {
            color: $natura;
        }
        p{
            &.box{
                background: lighten($natura, 65%);
                &.color2{
                    background: lighten($natura, 55%);
                }
            }
            &.box-transparent{
                border-color: $natura2;
            }
        }
    }

}
