
.entry-content, .entry-summary, .mu_register{
    &,p{
        line-height: 1.33em;
    }
    p{
        margin-bottom: 10px;
    }
    ul{
        margin-bottom: 10px;
    }

}

.wp-block-ugb-separator{
    margin-left: -$padding-inner;
    width: 100vw;
    @media #{$min-big-desktop}{
        margin-left: calc(-1 * #{$padding-lateral})!important;
    }

    .ugb-separator__svg-inner {
        svg {
            fill: $cohabitatge2!important;
        }
    }


}

div#content {
    .entry-title{
        margin-bottom: 15px;
    }
    .info-campanya{
        font-size: 20px;
        font-style: normal;
        overflow:hidden;
        .hashtag{
            margin-bottom: 20px;
            display:block;
            font-weight: bold;
        }
        .info-money{
            overflow:hidden;
            .left,.right{
                margin-top: 2px;
                float: left;
                font-size: .8em;
                // font-weight: bold;
                &.big{
                    font-size: 1em;
                    font-weight: bold;
                    font-style: normal;
                }
                i{
                    margin-left: 5px;
                }
            }
            .left{
                font-style: italic;
            }
            .right{
                float:right;
            }

        }
        .bar-wrapper{
            height: 20px;
            position:relative;
            background: $white;
            border-radius: 10px;
            margin-bottom: 2px;
            overflow: hidden;

            .bar {
            	height: 20px;
            	left: 0;
                top: 0;
                display:block;
            	border-radius: 10px;
            	-moz-animation:graphic-design 2s ease-out;
            	-webkit-animation:graphic-design 2s ease-out;
            	background-color: $cohabitatge2;
            }

        }
        .claim{
            margin-top: 10px;
            font-size: .8em;
        }
        .btn{
            font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
            float: left;
            margin-top: 10px;
            display: inline-block;
            border-color: $cohabitatge2;
            color: $cohabitatge2;
            font-size: 16px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover{
                background: $cohabitatge2;
            }
        }
    }


    .wp-block-embed-youtube{
        .wp-block-embed__wrapper{
            position:relative;
            padding-bottom: 56.25%;
            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
                margin:0;
            }
        }
    }

    .block-inverted{
        color: $white!important;
        background-color: $cohabitatge2;
        position:relative;
        padding-bottom: 30px;

        h2, h3{
            color: $white!important;
        }
        h2{
            position: relative;
            z-index:2;
            padding-top: 25px;
            margin-bottom: 0;
            font-size: 3em;
            color: $white!important;
            text-align: center;
            display:block;
        }
        h3{
            font-size: 2em;
            margin-bottom: 20px;
        }

        .wp-block-button__link{
            border-radius: 4px;
            &:hover{
                text-decoration: none;
                color: $black!important;
            }
        }
        &:before{
            z-index:0;
            content:'';
            position: absolute;
            left: -$padding-inner;
            width: 100vw;
            top: 0;
            bottom: 0;
            background: $cohabitatge2;
            @media #{$min-big-desktop}{
                left: calc(-1 * #{$padding-lateral})!important;
            }
        }

    }


    a {
        &:hover{
            text-decoration: underline;
        }
    }
    .wp-block-ugb-image-box{
        .ugb-image-box__item{
            position:relative;
            .ugb-image-box__content{
                position:absolute;
                bottom:0;
                left: 0;
                right: 0;
                width: 100%;
                background: rgba($white,1);
                h4{
                    font-size: 1.15em;
                    color: $black!important;
                    text-shadow: none;
                }
                margin:0;
                padding: 10px 10px;
            }
        }
        &.colored-grid{
            .ugb-image-box__item{
                .ugb-image-box__content h4{
                    color: $white!important;
                }
                &:nth-child(1) .ugb-image-box__content{
                    background: $cohabitatge2;
                }
                &:nth-child(2) .ugb-image-box__content{
                    background: $cohabitatge2;
                }
                &:nth-child(3) .ugb-image-box__content{
                    background: $natura2;
                }
                &:nth-child(4) .ugb-image-box__content{
                    background: $social2;
                }
            }
        }
    }

    .wp-block-ugb-accordion.ugb-accordion--design-plain{
        margin: 0 0 10px;
        // max-width: 500px;
        border-left: 3px solid $cohabitatge;
        background: #eee;
        overflow: hidden;
        padding: 15px 10px;
        .ugb-accordion__heading{
            background: none;
            h4{
                font-size: 16px;
                font-weight: normal;
            }
            svg{
                height: 15px;
                width: 15px;
            }
        }



        .ugb-accordion__text{
            font-style: italic;
        }

        &.ugb-accordion--open{
            .ugb-accordion__text{
                margin-top: 15px!important;
                margin-bottom: 0px!important;
            }
        }

    }

    .wp-block-columns.has-2-columns{
        div.wp-block-column:last-child{
            blockquote.wp-block-quote{
                background: #eeeeee;
                margin-left: 0;
                margin-right: 0;
                font-size: 1.25em;
                word-wrap: break-word!important;
                a.social-icons{
                    color: $black!important;
                    font-style: normal;
                    font-size: 1.25em;
                    cursor: pointer;
                    &:hover{
                        text-decoration: none;
                        color: $cohabitatge!important;
                    }
                }

            }
            figure.wp-block-image img{
                width: 100%;
            }
            ul{
                li{
                    margin-left: 15px;
                }
            }
        }
        &.divide-1-3{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 1;
                        // padding-right: 30px;
                    }
                    &:last-child{
                        flex: 2;
                    }
                }
            }
        }
        &.divide-1-2{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 1;
                        padding-right: 30px;
                    }
                    &:last-child{
                        flex: 2;
                    }
                }
            }
        }
        &.divide-2-1{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 2;
                        padding-right: 30px;
                    }
                    &:last-child{
                        flex: 1;
                    }
                }
            }
        }
        &.divide-3-1{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 2;
                        padding-right: 30px;
                    }
                    &:last-child{
                        flex: 1;
                    }
                }
            }
        }
        &.divide-2-1{
            @media #{$min-desktop} {
                >.wp-block-column{
                    &:first-child{
                        flex: 2;
                        padding-right: 30px;
                    }
                    &:last-child{
                        flex: 1;
                    }
                }
            }
        }
        &.line-between > .wp-block-column:not(:last-child) {
            border-right: 1px solid lighten($black, 80%);
        }
    }
    h2{
        margin-top:0;
    }

    blockquote.wp-block-quote {
        border-color: lighten($black, 80%);
        border-width: 5px;
        margin-bottom: 20px;
    }

    blockquote.wp-block-ugb-blockquote{
        margin: 20px auto;
        max-width: 400px;
        text-align: center;
        .ugb-content-wrapper{
            padding: 30px;
            > svg{
                width: 50px!important;
            }
        }

        &.quote-big{
            .ugb-blockquote__text{
                line-height: 1.5em;
                font-size: 1.5em;
            }

        }

        &.sticky-wrapper{
            z-index: 10px;
        }

    }

    p{
        &.box,
        &.box-transparent{
            font-family: 'Arimo', sans-serif;
            line-height: 1.25em;
            padding: 30px 20px;
        }

        &.box{
            background: lighten($black, 80%);
            &.color2{
                background: lighten($black, 70%);
            }
            a{
                color: $black;
                text-decoration: underline;
            }
        }
        &.box-transparent{
            font-size: 1.15em;
            border: 3px solid lighten($black, 80%);
        }
    }
    h1 {
        text-align: left;
        margin-top: 20px;
        // border-bottom: 3px solid $black;
        font-size: 1.5em;
        // text-transform: uppercase;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        color: $black;
        font-size: 1.15em;
        margin: 0 0 10px;
    }
    h1, h2,h3,h4{
        line-height: normal;
        font-weight: bold;
    }

    .edit-link{
        display:none;
    }
    .wp-block-ugb-feature-grid{
        margin-top: 20px;
    }
    .ugb-feature-grid__item{
        padding-top: 45px;
        padding-bottom: 45px;
        .ugb-feature-grid__content{
            margin-top: 0;
        }
        h5.ugb-feature-grid__title{
            font-weight: bold;
            font-size: 1em;
        }
    }
    .ugb-image-box__item{
        .ugb-image-box__title{
            font-size: 2em;
            font-weight: bold;
            text-shadow: 1px 1px black;
        }
    }
}

#main-wrapper{
    &.webtype_cohabitatge div#content {
        .button {
            background: $cohabitatge2;
            &:hover{
                background: $cohabitatge2!important;
            }
        }
        h1 {
            color: $cohabitatge;
            border-color: $cohabitatge2;
        }
        a, h2{
            color: $cohabitatge;
        }
        p{
            &.box{
                background: lighten($cohabitatge, 35%);
                &.color2{
                    background: lighten($cohabitatge, 25%);
                }
            }
            &.box-transparent{
                border-color: $cohabitatge2;
            }
        }
        .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
            border-color: $cohabitatge2;
        }
        .ugb-feature-grid__item{
            border: 1px solid $cohabitatge2;
        }
        blockquote.wp-block-quote {
            border-color: $cohabitatge2;
        }
        blockquote.wp-block-ugb-blockquote svg path{
            fill: $cohabitatge2;
        }
    }
    &.webtype_social div#content {
        .button {
            background: $social2;
            &:hover{
                background: $social2!important;
            }
        }
        h1 {
            color: $social;
            border-color: $social;
        }
        a, h2{
            color: $social;
        }
        p{
            &.box{
                background: lighten($social, 40%);
                &.color2{
                    background: lighten($social, 35%);
                }
            }
            &.box-transparent{
                border-color: $social2;
            }
        }
        .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
            border-color: $social2;
        }
        .ugb-feature-grid__item{
            border: 1px solid $social2;
        }
        blockquote.wp-block-ugb-blockquote svg path{
            fill: $social2;
        }
    }
    &.webtype_natura div#content {
        .button {
            background: $natura2;
            &:hover{
                background: $natura2!important;
            }
        }
        h1 {
            color: $natura;
            border-color: $natura;
        }
        a, h2{
            color: $natura;
        }
        p{
            &.box{
                background: lighten($natura, 65%);
                &.color2{
                    background: lighten($natura, 55%);
                }
            }
            &.box-transparent{
                border-color: $natura2;
            }
        }
        .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
            border-color: $natura2;
        }
        .ugb-feature-grid__item{
            border: 1px solid $natura2;
        }
        blockquote.wp-block-quote {
            border-color: $natura2;
        }
        blockquote.wp-block-ugb-blockquote svg path{
            fill: $natura2;
        }
    }

}
