@media screen and (min-width: 960px){
    .site {
        padding: 0!important;
    }
}
.site-content {
    padding: 0 10px;
}
div#content {
    .entry-header {
        h1 {
            margin-top: 40px;
            border-bottom: 3px solid $black;
        }
    }
    a {
        &:hover{
            text-decoration: underline;
        }
    }
    .wp-block-columns.has-2-columns{
        &.divide-3-2{
            >.wp-block-column{
                &:first-child{
                    flex: 2;
                }
                &:last-child{
                    flex: 1;
                }
            }

        }
    }

    p.box{
        background: lighten($black, 80%);
        padding: 30px 20px;
        &.color2{
            background: lighten($black, 70%);
        }
        a{
            color: $black;
            text-decoration: underline;
        }
    }

    .edit-link{
        display:none;
    }
}

#main-wrapper{
    &.webtype_cohabitatge div#content {
        .entry-header  h1 {
            color: $cohabitatge;
            border-color: $cohabitatge;
        }
        a {
            color: $cohabitatge;
        }
        p.box{
            background: lighten($cohabitatge, 35%);
            &.color2{
                background: lighten($cohabitatge, 25%);
            }
        }
    }
    &.webtype_social div#content {
        .entry-header  h1 {
            color: $social;
            border-color: $social;
        }
        a {
            color: $social;
        }
        p.box{
            background: lighten($social, 40%);
            &.color2{
                background: lighten($social, 35%);
            }
        }
    }
    &.webtype_natura div#content {
        .entry-header  h1 {
            color: $natura;
            border-color: $natura;
        }
        a {
            color: $natura;
        }
        p.box{
            background: lighten($natura, 65%);
            &.color2{
                background: lighten($natura, 55%);
            }
        }
    }

}
