@media screen and (min-width: 960px){
    .site {
        padding: 0!important;
    }
}

img{
    vertical-align: bottom;
}
#main-wrapper{
    text-align: left;
}
.site-content {
    padding: 0 10px;
    article{
        hyphens: initial!important;
    }
}
