.site {
    padding: 0!important;
    .site-content {
        float: none;
        margin: 0 auto;
        max-width: $big-desktop;
        padding: 0 $padding-inner 30px;
        article{
            -webkit-hyphens: initial!important;
            -moz-hyphens: initial!important;
            -ms-hyphens: initial!important;
            hyphens: initial!important;
        }

        .entry-header {
            .entry-title {
                font-family: 'Pt sans';
                font-size: 30px;
            }
        }
    }
    .hide-desktop{
        @media #{$min-desktop}{
            display:none;
        }
    }
}

img{
    vertical-align: bottom;
}
#main-wrapper{
    text-align: left;
}
@media #{$max-tablet}{
    .has-2-columns.divide-2-1{
        flex-wrap: wrap;
        >.wp-block-column {
            flex-basis: initial;
        }
    }
}
