header {

    @media screen and (min-width: 993px){
        .sticky-header {
            position: fixed;
            background: $white;
        }
        .sticky-header .logo {
            margin-left: 0;
            padding-left: 0;
        }
    }



    nav#vision-mobile-nav li.highlight > a{
        font-size: 1.2em;
        color: $cohabitatge;
    }
    nav#vision-primary-nav li.highlight > a{
        color: $cohabitatge;
        border: 3px solid $cohabitatge;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
            background: $cohabitatge;
            color: $white!important;
        }
    }

    nav#vision-mobile-nav,
    nav#vision-primary-nav {
        ul li.menu-item{
            &.social a:hover {
                color: $social!important;
            }
            &.natura a:hover {
                color: $natura!important;
            }
        }
    }

    $padding-lateral: '(100vw - 1167px) / 2';
    $space_1_3: '1167px / 3';

    .post-thumbnail{
        overflow: hidden;
        img {
            width: 100%;
            @media #{$min-desktop} {
                width: calc(50% - 5px);
                height: 350px;
                object-fit: cover;
                // float: right;
            }
        }
        .info {
            background: rgba($black,.4);
            padding: 15px 30px;
            h2 {
                font-size: 1.25em;
                line-height: 1.15em;
                color: $white;
                text-shadow: 1px 1px rgba(0,0,0,.2);
                margin: 0;
                text-align: left;
            }
            h3 {
                text-align: right;
                margin: 20px 0 0;
            }
        }
        @media #{$min-desktop} {
            position:relative;
            .info {
                overflow: hidden;
                position:absolute;
                top:0;
                right:0;
                bottom: 0;
                padding-right: calc(#{$padding-lateral});
                padding-left: 35px;
                padding-top: 120px;
                padding-bottom: 30px;
                width: calc(50% - 5px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    font-size: 2em;
                    padding-right: 30px;
                }

                h3{
                    color: $black;
                    font-size: 1.7em;
                }

            }
        }

        &.no-title{
            img {
                width: 100%;
            }
        }
    }
    .post-thumbnail-blank{
        min-height: 91px;
    }
}

#main-wrapper{
    &.webtype_cohabitatge header .post-thumbnail .info {
        background: $cohabitatge2;
    }
    &.webtype_social header .post-thumbnail .info {
        background: rgba($social,.7);
    }
    &.webtype_natura header .post-thumbnail .info {
        background: $natura;
    }
}
