body h1, body h2, body h3, body h4, body h5, body h6 {
  line-height: 1em; }
body .btn {
  border: 3px solid #d03c15;
  border-radius: 5px;
  font-color: #d03c15;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #d03c15;
  font-size: 1.25em;
  cursor: pointer;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3); }
  body .btn:hover {
    background: #d03c15;
    color: white !important; }
body .site {
  padding: 0 !important; }
  body .site .site-content {
    float: none;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px 30px; }
    body .site .site-content article {
      hyphens: initial !important; }
    body .site .site-content .entry-header .entry-title {
      font-family: 'Pt sans';
      font-size: 30px; }
body img {
  vertical-align: bottom; }
body #main-wrapper {
  text-align: left; }
body header.site-header .sticky-header {
  top: 0;
  position: fixed !important;
  background: white; }
  body header.site-header .sticky-header .sticky-header-inner {
    padding-left: 15px;
    padding-right: 15px; }
  body header.site-header .sticky-header .logo {
    margin-left: 0;
    padding-left: 0; }
body header.site-header nav#vision-mobile-nav li.highlight > a {
  font-size: 1.2em;
  color: #d03c15; }
body header.site-header nav#vision-primary-nav li.highlight > a {
  color: #d03c15;
  border: 3px solid #d03c15;
  padding: 5px 10px;
  border-radius: 5px; }
  body header.site-header nav#vision-primary-nav li.highlight > a:hover {
    background: #d03c15;
    color: white !important; }
body header.site-header nav#vision-mobile-nav ul li.menu-item.current-menu-ancestor > a, body header.site-header nav#vision-mobile-nav ul li.menu-item.current-menu-item > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.current-menu-ancestor > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.current-menu-item > a {
  color: #d03c15; }
body header.site-header nav#vision-mobile-nav ul li.menu-item.social a,
body header.site-header nav#vision-primary-nav ul li.menu-item.social a {
  border-color: #d87a06 !important; }
  body header.site-header nav#vision-mobile-nav ul li.menu-item.social a:hover,
  body header.site-header nav#vision-primary-nav ul li.menu-item.social a:hover {
    color: #d87a06 !important; }
body header.site-header nav#vision-mobile-nav ul li.menu-item.social.current-menu-ancestor > a, body header.site-header nav#vision-mobile-nav ul li.menu-item.social.current-menu-item > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.social.current-menu-ancestor > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.social.current-menu-item > a {
  color: #d87a06; }
body header.site-header nav#vision-mobile-nav ul li.menu-item.natura a,
body header.site-header nav#vision-primary-nav ul li.menu-item.natura a {
  border-color: #547723 !important; }
  body header.site-header nav#vision-mobile-nav ul li.menu-item.natura a:hover,
  body header.site-header nav#vision-primary-nav ul li.menu-item.natura a:hover {
    color: #547723 !important; }
body header.site-header nav#vision-mobile-nav ul li.menu-item.natura.current-menu-ancestor > a, body header.site-header nav#vision-mobile-nav ul li.menu-item.natura.current-menu-item > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.natura.current-menu-ancestor > a,
body header.site-header nav#vision-primary-nav ul li.menu-item.natura.current-menu-item > a {
  color: #547723; }
body header.site-header .post-thumbnail {
  overflow: hidden; }
  body header.site-header .post-thumbnail h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-style: italic; }
  body header.site-header .post-thumbnail h3 {
    margin: 20px 0 0;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    line-height: normal;
    word-spacing: 5px;
    text-transform: uppercase;
    color: #111111;
    letter-spacing: 1px; }
    body header.site-header .post-thumbnail h3 i {
      display: inline-block;
      width: 5px; }
  body header.site-header .post-thumbnail img {
    width: 100%; }
    @media only screen and (min-width: 993px) {
      body header.site-header .post-thumbnail img {
        width: 50%;
        height: 325px;
        object-fit: cover;
        object-position: 50% 30%; } }
  body header.site-header .post-thumbnail .info {
    background: rgba(17, 17, 17, 0.4);
    padding: 15px 30px; }
    body header.site-header .post-thumbnail .info h2 {
      font-size: 1.25em;
      line-height: 1.15em;
      color: white;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
      margin: 0;
      text-align: left; }
    body header.site-header .post-thumbnail .info h3 {
      text-align: right;
      margin: 20px 0 0; }
  @media only screen and (min-width: 993px) {
    body header.site-header .post-thumbnail {
      position: relative; }
      body header.site-header .post-thumbnail .info {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-right: calc((100vw - 1170px) / 2);
        padding-left: 35px;
        padding-top: 120px;
        padding-bottom: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        body header.site-header .post-thumbnail .info h2 {
          font-size: 2em;
          padding-right: 30px; }
        body header.site-header .post-thumbnail .info h3 {
          color: #111111;
          font-size: 1.7em;
          position: absolute;
          bottom: 10px;
          padding-right: calc((100vw - 1170px) / 2);
          right: 0; } }
  body header.site-header .post-thumbnail.no-title img {
    width: 100%; }
body header.site-header .post-thumbnail-blank {
  min-height: 91px; }
body #main-wrapper.webtype_cohabitatge header .post-thumbnail .info {
  background: #d03c15; }
body #main-wrapper.webtype_social header .post-thumbnail .info {
  background: #dd8a00; }
body #main-wrapper.webtype_natura header .post-thumbnail .info {
  background: #869921; }
body .wpcf7-form {
  margin-bottom: 30px;
  max-width: 600px; }
  body .wpcf7-form .contact-form-field {
    margin-bottom: 10px; }
    body .wpcf7-form .contact-form-field input[type="text"], body .wpcf7-form .contact-form-field input[type="email"], body .wpcf7-form .contact-form-field input[type="number"], body .wpcf7-form .contact-form-field input[type="date"] {
      border-width: 1px;
      border-color: #919191;
      width: 70% !important;
      display: block;
      border-radius: 4px; }
      body .wpcf7-form .contact-form-field input[type="text"].wpcf7-not-valid, body .wpcf7-form .contact-form-field input[type="email"].wpcf7-not-valid, body .wpcf7-form .contact-form-field input[type="number"].wpcf7-not-valid, body .wpcf7-form .contact-form-field input[type="date"].wpcf7-not-valid {
        border-color: #f00; }
    body .wpcf7-form .contact-form-field textarea {
      border-width: 1px;
      border-color: #919191;
      width: 70% !important;
      border-radius: 4px; }
      body .wpcf7-form .contact-form-field textarea.wpcf7-not-valid {
        border-color: #f00; }
    body .wpcf7-form .contact-form-field .wpcf7-radio {
      display: block;
      margin: 5px 0; }
    body .wpcf7-form .contact-form-field .wpcf7-acceptance .wpcf7-list-item,
    body .wpcf7-form .contact-form-field .wpcf7-checkbox .wpcf7-list-item {
      margin: 5px 0; }
    body .wpcf7-form .contact-form-field.option-for-line .wpcf7-list-item {
      display: block; }
  body .wpcf7-form p {
    margin: 0; }
  body .wpcf7-form div.wpcf7-response-output {
    margin: 10px 0 0;
    padding: 10px 10px; }
  body .wpcf7-form .button-submit input[type="submit"] {
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 5px;
    text-shadow: none;
    height: auto;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background: white !important;
    border: 3px solid #d03c15;
    color: #d03c15;
    line-height: normal;
    letter-spacing: initial;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 16px; }
    body .wpcf7-form .button-submit input[type="submit"]:disabled {
      pointer-events: none;
      opacity: .5; }
    body .wpcf7-form .button-submit input[type="submit"]:hover {
      color: white; }
body .entry-content, body .entry-content p, body .entry-summary, body .entry-summary p, body .mu_register, body .mu_register p {
  line-height: 1.33em; }
body .entry-content p, body .entry-summary p, body .mu_register p {
  margin-bottom: 10px; }
body .entry-content ul, body .entry-summary ul, body .mu_register ul {
  margin-bottom: 10px; }
body .wp-block-ugb-separator {
  margin-left: -15px;
  width: 100vw; }
  @media only screen and (min-width: 1200px) {
    body .wp-block-ugb-separator {
      margin-left: calc(-1 * (100vw - 1170px) / 2) !important; } }
  body .wp-block-ugb-separator .ugb-separator__svg-inner svg {
    fill: #d03c15 !important; }
body div#content .entry-title {
  margin-bottom: 15px; }
body div#content .info-campanya {
  font-style: normal;
  overflow: hidden; }
  body div#content .info-campanya .hashtag {
    margin-bottom: 20px;
    display: block;
    font-weight: bold; }
  body div#content .info-campanya .info-money {
    overflow: hidden; }
    body div#content .info-campanya .info-money .left, body div#content .info-campanya .info-money .right {
      margin-top: 2px;
      float: left;
      font-size: .8em; }
      body div#content .info-campanya .info-money .left.big, body div#content .info-campanya .info-money .right.big {
        font-size: 1em;
        font-weight: bold;
        font-style: normal; }
      body div#content .info-campanya .info-money .left i, body div#content .info-campanya .info-money .right i {
        margin-left: 5px; }
    body div#content .info-campanya .info-money .left {
      font-style: italic; }
    body div#content .info-campanya .info-money .right {
      float: right; }
  body div#content .info-campanya .bar-wrapper {
    height: 20px;
    position: relative;
    background: white;
    border-radius: 10px; }
    body div#content .info-campanya .bar-wrapper .bar {
      height: 18px;
      margin: 1px 2px;
      position: absolute;
      border-radius: 10px;
      -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
      -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
      box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9; }
      body div#content .info-campanya .bar-wrapper .bar.graphic-design {
        width: 100%;
        -moz-animation: graphic-design 2s ease-out;
        -webkit-animation: graphic-design 2s ease-out;
        background-color: #d03c15; }
  body div#content .info-campanya .claim {
    margin-top: 10px;
    font-size: .8em; }
  body div#content .info-campanya .btn {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    float: left;
    margin-top: 10px;
    display: inline-block;
    border-color: #d03c15;
    color: #d03c15;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    body div#content .info-campanya .btn:hover {
      background: #d03c15; }
body div#content .wp-block-embed-youtube .wp-block-embed__wrapper {
  position: relative;
  padding-bottom: 56.25%; }
  body div#content .wp-block-embed-youtube .wp-block-embed__wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0; }
body div#content .block-inverted {
  color: white !important;
  background-color: #d03c15;
  position: relative;
  padding-bottom: 30px; }
  body div#content .block-inverted h2, body div#content .block-inverted h3 {
    color: white !important; }
  body div#content .block-inverted h2 {
    position: relative;
    z-index: 2;
    padding-top: 25px;
    margin-bottom: 0;
    font-size: 3em;
    color: white !important;
    text-align: center;
    display: block; }
  body div#content .block-inverted h3 {
    font-size: 2em;
    margin-bottom: 20px; }
  body div#content .block-inverted .wp-block-button__link {
    border-radius: 4px; }
    body div#content .block-inverted .wp-block-button__link:hover {
      text-decoration: none;
      color: #111111 !important; }
  body div#content .block-inverted:before {
    z-index: 0;
    content: '';
    position: absolute;
    left: -15px;
    width: 100vw;
    top: 0;
    bottom: 0;
    background: #d03c15; }
    @media only screen and (min-width: 1200px) {
      body div#content .block-inverted:before {
        left: calc(-1 * (100vw - 1170px) / 2) !important; } }
body div#content a:hover {
  text-decoration: underline; }
body div#content .wp-block-ugb-image-box .ugb-image-box__item {
  position: relative; }
  body div#content .wp-block-ugb-image-box .ugb-image-box__item .ugb-image-box__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    margin: 0;
    padding: 10px 10px; }
    body div#content .wp-block-ugb-image-box .ugb-image-box__item .ugb-image-box__content h4 {
      font-size: 1.15em;
      color: #111111 !important;
      text-shadow: none; }
body div#content .wp-block-ugb-image-box.colored-grid .ugb-image-box__item .ugb-image-box__content h4 {
  color: white !important; }
body div#content .wp-block-ugb-image-box.colored-grid .ugb-image-box__item:nth-child(1) .ugb-image-box__content {
  background: #d03c15; }
body div#content .wp-block-ugb-image-box.colored-grid .ugb-image-box__item:nth-child(2) .ugb-image-box__content {
  background: #d03c15; }
body div#content .wp-block-ugb-image-box.colored-grid .ugb-image-box__item:nth-child(3) .ugb-image-box__content {
  background: #869921; }
body div#content .wp-block-ugb-image-box.colored-grid .ugb-image-box__item:nth-child(4) .ugb-image-box__content {
  background: #dd8a00; }
body div#content .wp-block-columns.has-2-columns div.wp-block-column:last-child blockquote.wp-block-quote {
  background: #eeeeee;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.25em;
  word-wrap: break-word !important; }
  body div#content .wp-block-columns.has-2-columns div.wp-block-column:last-child blockquote.wp-block-quote a.social-icons {
    color: #111111 !important;
    font-style: normal;
    font-size: 1.25em;
    cursor: pointer; }
    body div#content .wp-block-columns.has-2-columns div.wp-block-column:last-child blockquote.wp-block-quote a.social-icons:hover {
      text-decoration: none;
      color: #d03c15 !important; }
body div#content .wp-block-columns.has-2-columns div.wp-block-column:last-child figure.wp-block-image img {
  width: 100%; }
body div#content .wp-block-columns.has-2-columns div.wp-block-column:last-child ul li {
  margin-left: 15px; }
@media only screen and (min-width: 993px) {
  body div#content .wp-block-columns.has-2-columns.divide-1-3 > .wp-block-column:first-child {
    flex: 1; }
  body div#content .wp-block-columns.has-2-columns.divide-1-3 > .wp-block-column:last-child {
    flex: 2; } }
@media only screen and (min-width: 993px) {
  body div#content .wp-block-columns.has-2-columns.divide-1-2 > .wp-block-column:first-child {
    flex: 1;
    padding-right: 30px; }
  body div#content .wp-block-columns.has-2-columns.divide-1-2 > .wp-block-column:last-child {
    flex: 2; } }
@media only screen and (min-width: 993px) {
  body div#content .wp-block-columns.has-2-columns.divide-2-1 > .wp-block-column:first-child {
    flex: 2;
    padding-right: 30px; }
  body div#content .wp-block-columns.has-2-columns.divide-2-1 > .wp-block-column:last-child {
    flex: 1; } }
@media only screen and (min-width: 993px) {
  body div#content .wp-block-columns.has-2-columns.divide-3-1 > .wp-block-column:first-child {
    flex: 2;
    padding-right: 30px; }
  body div#content .wp-block-columns.has-2-columns.divide-3-1 > .wp-block-column:last-child {
    flex: 1; } }
@media only screen and (min-width: 993px) {
  body div#content .wp-block-columns.has-2-columns.divide-2-1 > .wp-block-column:first-child {
    flex: 2;
    padding-right: 30px; }
  body div#content .wp-block-columns.has-2-columns.divide-2-1 > .wp-block-column:last-child {
    flex: 1; } }
body div#content .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
  border-right: 1px solid #dddddd; }
body div#content h2 {
  margin-top: 0; }
body div#content blockquote.wp-block-quote {
  border-color: #dddddd;
  border-width: 5px;
  margin-bottom: 20px; }
body div#content blockquote.wp-block-ugb-blockquote {
  margin: 20px auto;
  max-width: 400px;
  text-align: center; }
  body div#content blockquote.wp-block-ugb-blockquote .ugb-content-wrapper {
    padding: 30px; }
    body div#content blockquote.wp-block-ugb-blockquote .ugb-content-wrapper > svg {
      width: 50px !important; }
  body div#content blockquote.wp-block-ugb-blockquote.quote-big .ugb-blockquote__text {
    line-height: 1.5em;
    font-size: 1.5em; }
  body div#content blockquote.wp-block-ugb-blockquote.sticky-wrapper {
    z-index: 10px; }
body div#content p.box, body div#content p.box-transparent {
  font-family: 'Arimo', sans-serif;
  line-height: 1.25em;
  padding: 30px 20px; }
body div#content p.box {
  background: #dddddd; }
  body div#content p.box.color2 {
    background: #c4c4c4; }
  body div#content p.box a {
    color: #111111;
    text-decoration: underline; }
body div#content p.box-transparent {
  font-size: 1.15em;
  border: 3px solid #dddddd; }
body div#content h1 {
  text-align: left;
  margin-top: 20px;
  font-size: 1.5em; }
body div#content h2 {
  font-size: 1.5em; }
body div#content h3 {
  color: #111111;
  font-size: 1.15em;
  margin: 0 0 10px; }
body div#content h1, body div#content h2, body div#content h3, body div#content h4 {
  line-height: normal;
  font-weight: bold; }
body div#content .edit-link {
  display: none; }
body div#content .wp-block-ugb-feature-grid {
  margin-top: 20px; }
body div#content .ugb-feature-grid__item {
  padding-top: 45px;
  padding-bottom: 45px; }
  body div#content .ugb-feature-grid__item .ugb-feature-grid__content {
    margin-top: 0; }
  body div#content .ugb-feature-grid__item h5.ugb-feature-grid__title {
    font-weight: bold;
    font-size: 1em; }
body div#content .ugb-image-box__item .ugb-image-box__title {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px black; }
body #main-wrapper.webtype_cohabitatge div#content .button {
  background: #d03c15; }
  body #main-wrapper.webtype_cohabitatge div#content .button:hover {
    background: #d03c15 !important; }
body #main-wrapper.webtype_cohabitatge div#content h1 {
  color: #d03c15;
  border-color: #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content a, body #main-wrapper.webtype_cohabitatge div#content h2 {
  color: #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content p.box {
  background: #f6b3a2; }
  body #main-wrapper.webtype_cohabitatge div#content p.box.color2 {
    background: #f18e74; }
body #main-wrapper.webtype_cohabitatge div#content p.box-transparent {
  border-color: #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
  border-color: #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content .ugb-feature-grid__item {
  border: 1px solid #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content blockquote.wp-block-quote {
  border-color: #d03c15; }
body #main-wrapper.webtype_cohabitatge div#content blockquote.wp-block-ugb-blockquote svg path {
  fill: #d03c15; }
body #main-wrapper.webtype_social div#content .button {
  background: #dd8a00; }
  body #main-wrapper.webtype_social div#content .button:hover {
    background: #dd8a00 !important; }
body #main-wrapper.webtype_social div#content h1 {
  color: #d87a06;
  border-color: #d87a06; }
body #main-wrapper.webtype_social div#content a, body #main-wrapper.webtype_social div#content h2 {
  color: #d87a06; }
body #main-wrapper.webtype_social div#content p.box {
  background: #fdd9ad; }
  body #main-wrapper.webtype_social div#content p.box.color2 {
    background: #fcce94; }
body #main-wrapper.webtype_social div#content p.box-transparent {
  border-color: #dd8a00; }
body #main-wrapper.webtype_social div#content .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
  border-color: #dd8a00; }
body #main-wrapper.webtype_social div#content .ugb-feature-grid__item {
  border: 1px solid #dd8a00; }
body #main-wrapper.webtype_social div#content blockquote.wp-block-ugb-blockquote svg path {
  fill: #dd8a00; }
body #main-wrapper.webtype_natura div#content .button {
  background: #869921; }
  body #main-wrapper.webtype_natura div#content .button:hover {
    background: #869921 !important; }
body #main-wrapper.webtype_natura div#content h1 {
  color: #547723;
  border-color: #547723; }
body #main-wrapper.webtype_natura div#content a, body #main-wrapper.webtype_natura div#content h2 {
  color: #547723; }
body #main-wrapper.webtype_natura div#content p.box {
  background: #f4f9ec; }
  body #main-wrapper.webtype_natura div#content p.box.color2 {
    background: #ddeec5; }
body #main-wrapper.webtype_natura div#content p.box-transparent {
  border-color: #869921; }
body #main-wrapper.webtype_natura div#content .wp-block-columns.has-2-columns.line-between > .wp-block-column:not(:last-child) {
  border-color: #869921; }
body #main-wrapper.webtype_natura div#content .ugb-feature-grid__item {
  border: 1px solid #869921; }
body #main-wrapper.webtype_natura div#content blockquote.wp-block-quote {
  border-color: #869921; }
body #main-wrapper.webtype_natura div#content blockquote.wp-block-ugb-blockquote svg path {
  fill: #869921; }
body footer[role="contentinfo"] {
  padding-left: 0;
  padding-right: 0; }
  body footer[role="contentinfo"] .footer-sub-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px; }
    body footer[role="contentinfo"] .footer-sub-wrapper .site-info {
      text-align: center;
      padding: 0;
      margin-bottom: 15px; }
      @media only screen and (min-width: 993px) {
        body footer[role="contentinfo"] .footer-sub-wrapper .site-info {
          text-align: left;
          margin-bottom: 0; } }
    body footer[role="contentinfo"] .footer-sub-wrapper .social {
      text-align: center;
      padding: 0;
      margin-right: -10px; }
      @media only screen and (min-width: 993px) {
        body footer[role="contentinfo"] .footer-sub-wrapper .social {
          text-align: right; } }
body .wrap {
  text-shadow: 1px 1px #111111; }
body.page .vision-row {
  max-width: none;
  margin: initial;
  padding-top: 0; }
body.page-template-home header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent !important; }
  body.page-template-home header .sticky-header {
    transition: all .2s; }
    body.page-template-home header .sticky-header:not(.sticky-header-shrink) {
      background-color: transparent;
      box-shadow: none; }
      body.page-template-home header .sticky-header:not(.sticky-header-shrink) #vision-primary-nav > ul > li:not(.highlight) > a {
        color: white; }
body.page-template-home .fullscreen {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-left: -25px;
  margin-right: -25px;
  max-height: 100vh;
  background: #111111; }
  body.page-template-home .fullscreen .thumbnail-mobile img {
    opacity: .8;
    height: 500px;
    object-fit: cover; }
  @media only screen and (min-width: 993px) {
    body.page-template-home .fullscreen .thumbnail-mobile {
      display: none; } }
  body.page-template-home .fullscreen .video-wrapper {
    display: none; }
    @media only screen and (min-width: 993px) {
      body.page-template-home .fullscreen .video-wrapper {
        display: block;
        padding-bottom: 56.25%;
        position: relative; }
        body.page-template-home .fullscreen .video-wrapper video {
          opacity: .8;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          min-width: 100vw;
          min-height: 100vh;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%); } }
  body.page-template-home .fullscreen .info {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 700px;
    padding: 0 15px; }
    body.page-template-home .fullscreen .info h3 {
      margin: 20px 0 0;
      font-family: 'Assistant', sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: 2em;
      line-height: normal;
      word-spacing: 5px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px; }
      body.page-template-home .fullscreen .info h3 i {
        display: inline-block;
        width: 5px; }
    body.page-template-home .fullscreen .info h1 {
      text-shadow: 1px 1px #111111;
      color: white;
      font-size: 2.75em;
      margin-bottom: 40px; }
    body.page-template-home .fullscreen .info .btn {
      background: #d03c15;
      color: white;
      text-shadow: none;
      padding: 10px 20px;
      border: none; }
      body.page-template-home .fullscreen .info .btn:hover {
        background-color: #b93513; }
body.page-template-home .entry-content {
  margin-top: 30px; }
