h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-style: italic;
}
h3 {
    margin: 20px 0 0;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    line-height: normal;
    word-spacing: 5px;
    text-transform: uppercase;
    color: $black;
    letter-spacing: 1px;
    // font-style: bold;
    i {
        display:inline-block;
        width: 5px;
    }
}

h1,h2,h3,h4,h5,h6{
    line-height: 1em;
}

.btn {
    border: 3px solid $cohabitatge;
    border-radius: 5px;
    font-color: $cohabitatge;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: $cohabitatge;
    font-size: 1.25em;
    cursor: pointer;
    text-shadow: 1px 1px rgba($white, .3);
    &:hover{
        background: $cohabitatge;
        color: $white!important;
    }
}
